@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    transition: all .3s ease-in-out;
    font-size: .8rem;
    @media screen and (min-width: 700px) {
        font-size: 1rem;
    }

    .top {
        width: 100%;
        height: 30vh;
        background: url('/assets/images/bg-mobile-light.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .3s ease-in-out;
        position: relative;
        
        @media screen and (min-width: 700px) {
            background: url('/assets/images/bg-desktop-light.jpg')  no-repeat center/cover;;
        }

        .container {
            position: absolute;
            inset: 0;
            top: 8vh;
            width: 100%;
            max-width: 900px;
            margin-inline: auto;
            padding: 0 5%;
    
    
        }
    }



}

body.dark {
    .top {
        background: url('/assets/images/bg-mobile-dark.jpg') no-repeat center/cover;

        @media screen and (min-width: 700px) {
            background: url('/assets/images/bg-desktop-dark.jpg') no-repeat center/cover;
        }
       
    }
}

