@import '../styles/variables';
@import '../styles/base';

.header {
    width: 100%;
    color: #fff;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 700px){
        height: 8vh;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: .6em;
        font-size: 2em;
    }

    .light-dark {
        cursor: pointer;

        &:hover img{
            scale: 1.1;
        }

        img {
            transition: all .3s ease-in-out;
        }
    }
}

.input-div {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--todo-bg);
    border-radius: .5rem;
    transition: all .3s ease-in-out;

    .circle {
        width: 1.7em;
        height: 1.7em;
        margin-left: 1rem;
        border: 1px solid var(--very-light-text);
        border-radius: 50%;
        z-index: 2;
    }

    input {
        width: 80%;
        padding: 1rem;
        overflow: hidden;
        border: none;
        outline: none;
        font-size: 1.1em;
        background: var(--todo-bg);
        color: var(--dark-text);
        transition: all .3s ease-in-out;
        caret-color: var(--caret)
    }

    ::placeholder {
        color: var(--very-light-text);
    }

}

.todos {
    width: 100%;
    margin-top: 1.2em;
    border-radius: .5rem;
    background: var(--todo-bg);
    transition: all .3s ease-in-out;

    .todo {
        width: 100%;
        height: 4em;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1.5rem;
        padding-inline: 1rem;
        border-bottom: 1px solid var(--very-light-text);

        &:hover .circle {
            cursor: pointer;
            background: $Check-Background;
            scale: 1.1;
            transition: all .3s ease-in-out;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: var(--todo-bg);
                border-radius: 50%;
                scale: .9;
            }
        }
        
        .circle {
            width: 1.7em;
            height: 1.7em;
            border: 1px solid var(--very-light-text);
            border-radius: 50%;
            z-index: 2;
            color: var(--very-light-text);
            position: relative;
            transition: all .3s ease-in-out;


            &.completed {
                background: $Check-Background;
                border: $Check-Background;
                &::after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 4px;
                    background: #fff;
                    transform-origin: bottom;
                    top:45%;
                    left: 33%;
                    rotate: -45deg;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 11px;
                    background: #fff;
                    transform-origin: bottom;
                    top:13%;
                    left: 34%;
                    rotate: 48deg;
                }

            }

        }
        
        p {
            width: 80%;
            color: var(--dark-text);
            font-size: 1.2em;
            font-weight: bold;

            &.completed {
            text-decoration: line-through;
            color: var(--very-light-text);
            font-weight: 400;
            }

            &:hover {
                cursor: pointer;
            }
        }


        
        img {
            fill: var(--very-light-text);
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
    }

    .list-end {
        width: 100%;
        height: 4em;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1.5rem;
        padding-inline: 1rem;
        color: var(--light-text);
        transition: all .3s ease-in-out;

        .left {
            width: 20%;
        }

        .clear {
            width: 20%;
            cursor: pointer;

            &:hover {
                color: var(--dark-text)
            }
        }

        .tabs.desktop {
            width: 60%;
        }
    }
}

.tabs {
    margin-top: 1.2em;
    width: 100%;
    height: 4em;
    background: var(--todo-bg);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all .3s ease-in-out;
    
    p{
        font-weight: bold;
        color: var(--light-text);
        cursor: pointer;

        &:hover {
            color: var(--dark-text)
        }
    }

    .filtered {
        color: $Bright-Blue;
    }
}

.tabs.mobile {

    @media screen and (min-width: 900px){
        display: none;
    }
}
.tabs.desktop {
    display: none;

    @media screen and (min-width: 900px){
        display: flex;
        margin-top: 0;
    }
}

footer {
    padding-block: 3rem;

    .footer-text {
        text-align: center;
        color: var(--light-text);
        font-weight: 1.2em;
        font-weight: bold;
    }
}