<div class="top">
  <div class="container">
    <div class="header">
      <h1>Todo</h1>
      <div class="light-dark"></div>
    </div>

    <div class="todos">

      <input type="text">

      <div class="list">
        
        todo-item
        <div class="list-end">
          <!-- Add dynamic number --> items left
          Clear Completed
        </div>
        <div class="tabs">
          All
          Active
          Completed
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-text">Drag and drop to reorder list</div>
    </footer>

  </div>
</div>