<div class="top">
  <div class="container">

    <div class="header">
      <h1>Todo</h1>
      <div class="light-dark">
        <img *ngIf="light" (click)="changeMode()" src="/assets/images/icon-moon.svg" class="img-fluid rounded-top" alt="">
        <img *ngIf="dark" (click)="changeMode()" src="/assets/images/icon-sun.svg" class="img-fluid rounded-top" alt="">
      </div>
    </div>

    <div class="input-div">
      <div class="circle"></div>
      <input [(ngModel)]="actual.text" (keyup.enter)="add()" type="text" placeholder="Create a new todo..">
    </div>

    
      <div class="todos" >
  
        <div *ngFor="let t of todos" class="todo">
          <div [ngClass]="{completed: t.completed}" (click)="toggleCompleted(t)" class="circle"></div>
          <p [ngClass]="{completed: t.completed}">{{t.text}}</p>
          <div class="delete">
            <img (click)="delete(t)" src="/assets/images/icon-cross.svg" alt="">
          </div>
        </div>
  
        <div class="list-end">
          <p> {{left}} items left</p>
          <p (click)="clearCompleted()" class="clear"> Clear Completed</p>
        </div>
  
        
      </div>
   

    <div class="tabs">
      <p (click)="getFilter('all')"  value="all" [ngClass]="{filtered: isFilterAll}">All</p>
      <p (click)="getFilter('active')"  value="active" [ngClass]="{filtered: isFilterActive}">Active</p>
      <p (click)="getFilter('completed')"  value="completed" [ngClass]="{filtered: isFilterCompleted}">Completed</p>
    </div>

    <footer>
      <div class="footer-text">Drag and drop to reorder list</div>
    </footer>

  </div>
</div>